* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body *{
    font-family: "Satoshi" , sans-serif;}
p{
    color: #ffffff;
    font-weight: 500;
}

body {
    background-color: #202020;
}

#profile {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

#profile img {
    width: 112px;
    border-radius: 50%;
    box-shadow: 0px 3px 4px #000;
    transition: .3s;
    
}
#profile img:hover {
    width: 122px;
    box-shadow: 0px 4px 6px #000;
}

#arroba  {
    margin: 20px 0 20px 0;
    font-size: 20px;
    font-weight: 700;
}

li img {
width: 120px;
}

#sociallinks{
    display: flex;
    margin-top: 20px;
    justify-content: center;

    gap: 24px;
}


#sociallinks a {
    color: #fff; 
    text-decoration: none;
    font-size: 20px;
    
    transition: 0.2s;
}

#sociallinks a:hover{
    font-size: 23px;

}

.bi-github, .bi-instagram, .bi-discord, .bi-linkedin{
    transition: 0.2s;
}


.bi-github:hover{
    color: #000000;
}
.bi-instagram:hover {
    background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
}
.bi-discord:hover{
    color: #5865F2;
}
.bi-linkedin:hover {
    color: #0A66C2;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
    padding: 24px 0;
    align-items: center;    
    
    position: relative;
}

ul img {
    width: 50px;
    position: absolute;
    z-index: 1;
}

.obsidianlogo img {
    width: 47px;
    position: absolute;
    z-index: 1;
    bottom: 171px;
    
}

.notionlogo img {
    position: absolute;
    
}


ul li a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 16px 24px;
    

    color: #fff;
    background-color: #262626;
    border: 1px solid #FFFFFF60;
    backdrop-filter: blur(4px);
    border-radius: 8px;

    transition: background 0.2s;
}

ul li a:hover{
    background: rgba(255, 255, 255, 0.05) ;
    border: 1.5px solid white;
}

@media (max-width: 1920px) {
    ul li {
        width: 500px;
    }
}
@media (max-width: 500px){
    ul li{
        width: 350px;
    }
}
@media (max-width: 350px){
    ul li{
        width: 250px;
    }

}