* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body *{
    font-family: "Roboto" , sans-serif;}


body {
    background-color: #1e1e1e;
}

img {
    width: 200px;
    height: 200px;
}

#sociallinks a {
    text-decoration: none;
    margin: 5px;
}