* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body *{
    font-family: "Satoshi" , sans-serif;}
p{
    color: #ffffff;
    font-weight: 500;
}

body {
    background-color: #202020;
}

#profile {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

#profile img {
    width: 112px;
    border-radius: 50%;
    box-shadow: 0px 3px 4px #000;
    transition: .3s;
    
}
#profile img:hover {
    width: 122px;
    box-shadow: 0px 4px 6px #000;
}

#arroba  {
    margin: 20px 0 20px 0;
    font-size: 20px;
    font-weight: 700;
}

li img {
width: 120px;
}

#sociallinks{
    display: flex;
    justify-content: center;

    gap: 24px;
}


#sociallinks a {
    color: #fff; 
    text-decoration: none;
    font-size: 20px;
    
    transition: 0.2s;
}

#sociallinks a:hover{
    font-size: 23px;

}

.bi-github, .bi-instagram, .bi-discord, .bi-linkedin{
    transition: 0.2s;
}


.bi-github:hover{
    color: #000000;
}
.bi-instagram:hover {
    background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
}
.bi-discord:hover{
    color: #5865F2;
}
.bi-linkedin:hover {
    color: #0A66C2;
}

